<% content_for :title do %>
  List Congressmen
<% end %>

<div class="span12">
  <table class='table table-striped table-bordered table-condensed'>
    <tr>
      <th>Name</th>
    </tr>

  <% @congressmen.each do |congressman| %>
    <tr>
      <td><%= link_to congressman.name, congressman %></td>
    </tr>
  <% end %>
  </table>
</div>
