<div class="hero-unit">
  <h1>Listing congressmen</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @congressmen.each do |congressman| %>
  <tr>
    <td><%= congressman.name %></td>
    <td><%= link_to 'Show', congressman %></td>
  </tr>
<% end %>
</table>

<br />
</div>