// Place all the styles related to the Congressmen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$repRed: #C43C35;
$demBlue: #0B8CCC;
$darkBlue: #085999;
$indGray: #C5C5C5;

.bar-graph {
  height: 10px;
  background-color: #CCC;
}

.bar {
  height: 10px;
  background-color: #666;
  border-right: 1px #FFF solid;
  color: #EEE;
  padding: 3px;
}


#chart {
  circle {
    fill: indGray;
  }
  &.D circle {
    fill: $demBlue;
  }
  &.R circle {
    fill: $repRed;
  }
  text {
    fill: #EEE;
    font: 12px sans-serif;
  }
  circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }
}

h1, h2, h3, h4, h5, h6 {
  clear:both;
}

.watchdog {
  clear:both;
  list-style-type: none;
}

.finance.progress {
  background-color: $darkBlue;
  background-image: none;
  margin-bottom: 5px;
  .bar {
    overflow: visible;
    p {
    color: white;
    font-size: 12px;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    }
  }
}

.facts-box {
  clear:both;
  padding: 5px;
  .heading {
    font-variant: small-caps;
    font-size: 1.2em;
  }
  ul {
    color:#3D3D3D;
    list-style-type: none;
    margin-bottom: 10px;
    margin-left:0;
    height: 2.1em;
    clear:both;
    li:first-child {
      font-size:2em;
      float:left;
      padding: 10px;
    }
    li {

    }
  }
}