// Place all the styles related to the Congressmen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$repRed: #C43C35;
$demBlue: #0B8CCC;
$indGray: #C5C5C5;

.bar-graph {
  height: 10px;
  background-color: #CCC;
}

.bar {
  height: 10px;
  background-color: #666;
  border-right: 1px #FFF solid;
  color: #EEE;
  padding: 3px;
}

#bills-chart.R path{
  fill: $repRed;
}
#bills-chart.D path{
  fill: $demBlue;
}
#bills-chart path {
  fill: $indGray;
}
#bills-chart {
  text {
    font-family: sans-serif;
    font-size: 1em;
    fill: #333;
  }
}

#chart {
  circle {
    fill: indGray;
  }
  &.D circle {
    fill: $demBlue;
  }
  &.R circle {
    fill: $repRed;
  }
  text {
    fill: #EEE;
    font: 12px sans-serif;
  }
  circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }
}

.facts-box {
  clear:both;
  .heading {
    font-variant: small-caps;
  }
  ul {
    color:#3D3D3D;
    list-style-type: none;
    margin-bottom: 10px;
    margin-left:0;
    height: 2.1em;
    clear:both;
    li:first-child {
      font-size:2em;
      float:left;
      padding: 10px;
    }
    li {

    }
  }
}