table {
  tr.R {
    background-color: #DB6C6A;
  }
  tr.D {
    background-color: #7db9e8; 
  }
  a {
    color: #333;
  }
}
circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}
