table {
  tr.Republican {
    background-color: #DB6C6A;
  }
  tr.Democrat {
    background-color: #7B7DEC; 
  }
  a {
    color: #333;
  }
}
circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}
